Olá, <strong>{{ deliveryman.name }}</strong>

<p>Fastfeet Distribuidora Informa:</p>

<p>O produto {{product}} foi cadastrado para você realizar a entrega para {{recipient.name}} em {{recipient.street}}, {{recipient.city}}-{{recipient.state}}. </p>
